@import "tailwindcss";

@theme {
  --color-bground-100: rgb(255, 255, 255);
  --color-bground-200: rgb(200, 200, 200);
  --color-mground-100: rgb(125, 125, 125);
  --color-fground-100: rgb(51, 51, 51);
  --color-fground-200: rgb(0, 0, 0);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-slide-in {
  animation: fade-slide-in 0.2s ease-out forwards;
}

@keyframes fade-slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  60% {
    opacity: 1;
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-fade-slide-in-right {
  animation: fade-slide-in-right 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fade-slide-in-fromtop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: translateY(2px);
  }
  80% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-fade-slide-in-fromtop {
  animation: fade-slide-in-fromtop 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateX(-20px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes fadeInUp {
  0% { transform: translateY(10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out;
}

.animate-fadeInUp {
  animation: fadeInUp 0.4s ease-out;
}