@import "tailwindcss";

/* --color-text-color-100: #ccd0cf;
  --color-text-color-200: #9ba8ab;
  --color-text-color-300: #4a5c6a;
  --color-text-color-400: #253745;
  --color-text-color-500: #11212d;
  --color-text-color-600: #06141b; */

@theme {
  --color-inputbox-active: rgb(96, 165, 250);
  --color-text-denger: rgb(255, 59, 48);

  --color-text-color-100: rgb(255, 255, 255);
  --color-text-color-200: rgb(107, 114, 128);
  --color-text-color-300: rgb(55, 65, 81);
  --color-text-color-400: rgb(31, 41, 55);
  --color-text-color-500: rgb(17, 24, 39);
  --color-text-color-600: rgb(0, 0, 0);

  --color-body-0: #ccd0cf;
  --color-body-100: rgb(243, 244, 246);
  --color-body-200: rgb(229, 231, 235);
  --color-body-300: #11212d;
  --color-body-400: rgb(156, 163, 175);
  --color-body-500: rgb(107, 114, 128);
  --color-body-600: rgb(75, 85, 99);
  --color-body-700: rgb(55, 65, 81);
  --color-body-800: rgb(31, 41, 55);
  --color-body-900: rgb(17, 24, 39);
  --color-body-1000: rgb(0, 0, 0);
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-slide-in {
  animation: fade-slide-in 0.2s ease-out forwards;
}

@keyframes fade-slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }

  60% {
    opacity: 1;
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-fade-slide-in-right {
  animation: fade-slide-in-right 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fade-slide-in-fromtop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  60% {
    opacity: 1;
    transform: translateY(2px);
  }

  80% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-fade-slide-in-fromtop {
  animation: fade-slide-in-fromtop 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out;
}

.animate-fadeInUp {
  animation: fadeInUp 0.4s ease-out;
}