@import "tailwindcss";

@theme{
  --color-bground-100: rgb(255, 255, 255);
  --color-bground-200: rgb(191, 186, 198);
  --color-fground-100: rgb(59, 59, 59);
  --color-fground-200: rgb(0, 0, 0);
}

:root {
  --White: rgb(255, 255, 255);
  --Gray: rgb(191, 186, 198);
  --DarkGray: rgb(59, 59, 59);
  --Black: rgb(0, 0, 0);
}

/* === Root Container === */
#root {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
}

/* === Button Component === */
.defaultBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  padding: 0.4rem 1rem;
  font-size: 1rem;

  background-color: var(--Black);
  color: var(--White);
  border: 2px solid transparent;
  cursor: pointer;

  transition: border-color 0.3s ease;
}

.defaultBtn svg {
  height: 1.5rem;
  stroke: var(--DarkGray);
}

.defaultBtnActive svg {
  stroke: var(--Black);
  fill: var(--Black);
}

.defaultBtn:hover svg {
  stroke: var(--Black);
}

/* === Navbar === */
.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem 0.2rem 1rem;
  background-color: var(--White);
  width: 100%;
  max-height: 100px;
  overflow-x: hidden;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  height: 1.6rem;
  padding: 0.2rem 0;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarRight svg {
  height: 1.5rem;
  padding: 0.2rem 0;
  stroke: var(--Black);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.navbarRight svg:hover {
  fill: var(--Black);
  transform: rotate(90deg);
}

/* === Footer === */
.ultimetFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--White);
  z-index: 100;
  overflow-x: hidden;
}

.footerParent {
  display: flex;
  width: 98%;
  padding: 0 0 0.5rem 0;
  /* gap: 10px; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

/* === InputBox === */
.inputBox {
  padding: .2em 1rem;
  min-width: 10em;
  width: 100%;
}

.inputBox .inputFild {
  width: 100%;
  border: 2px solid var(--DarkGray);
  border-radius: 5px;
  height: 2rem;
  padding: 0 .5rem;
}

/* === Postcard === */
.post-card {
  background: var(--White);
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  font-family: "Gill Sans", "Segoe UI", "Trebuchet MS", sans-serif;
  margin-top: 2rem;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--White);
  gap: 0.75rem;
}

.post-pic-placeholder svg {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--DarkGray);
}

.post-pic-placeholder img {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--DarkGray);
}

.post-user-info {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: var(--Black);
}

.post-user-info span {
  font-size: 0.75em;
  color: var(--DarkGray);
}

.post-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.post-caption {
  padding: 0 1rem;
  padding-bottom: 1em;
  font-size: 0.95em;
  color: var(--Black);
  text-align: left;
  line-height: 1.5;
}

.post-footer {
  background-color: var(--White);
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.post-footer-button {
  background-color: var(--White);
  color: var(--DarkGray);
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}